label{
    color: black;
    margin: 0 auto 0 auto;
}

button{
    border: 2px black solid;
    background-color: rgba(3, 65, 62,1);
    color: white;
    box-shadow: 2px 2px 2px rgba(3, 65, 62,1);
    width: 100px;
    margin: 0 auto 0 auto;
    text-decoration: none;
    text-align: center;
}

button:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(3, 65, 62,1);
}